{{#form-field propertyName
    class="radio-field"
    classNames=fieldClasses
    errorClasses=errorClasses
    hintClasses=hintClasses
    inputClasses=inputClasses
    labelClasses=labelClasses
    object=object
    hint=hint
    form=form
    label=labelText
    control=control
    update=(action update) as |f|}}
  <div class="custom-control custom-radio">
    {{f.control
        option=value
        accesskey=accesskey
        autocomplete=autocomplete
        autofocus=autofocus
        autosave=autosave
        dir=dir
        disabled=disabled
        hidden=hidden
        id=radioButtonId
        lang=lang
        list=list
        required=required
        tabindex=tabindex
        title=title
        class="custom-control-input"}}
    <label class="custom-control-label" for={{radioButtonId}}>{{f.labelText}}</label>
  </div>
  {{f.errors}}
  {{f.hint}}
{{/form-field}}
